---
import Link from '@components/ui/link.astro';
const { heading, subheading } = Astro.props;
---

<div class="relative isolate px-6 pt-10 lg:px-8 pb-28 bg-orange-500">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true"></div>
    <div class="mx-auto max-w-2xl another">
       
        <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-white">{heading}</h1>
            <p class="mt-2 text-lg leading-8 text-gray-300">{subheading}</p>
        </div>
        <div class="flex items-center justify-center mt-5 space-x-2 flex-wrap">

<div class="flex mt-4 sm:justify-center sm:mt-0">
              <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                        <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                    </svg>
                  <span class="sr-only">Facebook page</span>
              </a>
              <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 21 16">
                        <path d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"/>
                    </svg>
                  <span class="sr-only">Discord community</span>
              </a>
              <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 17">
                    <path fill-rule="evenodd" d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z" clip-rule="evenodd"/>
                </svg>
                  <span class="sr-only">Twitter page</span>
              </a>
              <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                  </svg>
                  <span class="sr-only">GitHub account</span>
              </a>
              <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 0a10 10 0 1 0 10 10A10.009 10.009 0 0 0 10 0Zm6.613 4.614a8.523 8.523 0 0 1 1.93 5.32 20.094 20.094 0 0 0-5.949-.274c-.059-.149-.122-.292-.184-.441a23.879 23.879 0 0 0-.566-1.239 11.41 11.41 0 0 0 4.769-3.366ZM8 1.707a8.821 8.821 0 0 1 2-.238 8.5 8.5 0 0 1 5.664 2.152 9.608 9.608 0 0 1-4.476 3.087A45.758 45.758 0 0 0 8 1.707ZM1.642 8.262a8.57 8.57 0 0 1 4.73-5.981A53.998 53.998 0 0 1 9.54 7.222a32.078 32.078 0 0 1-7.9 1.04h.002Zm2.01 7.46a8.51 8.51 0 0 1-2.2-5.707v-.262a31.64 31.64 0 0 0 8.777-1.219c.243.477.477.964.692 1.449-.114.032-.227.067-.336.1a13.569 13.569 0 0 0-6.942 5.636l.009.003ZM10 18.556a8.508 8.508 0 0 1-5.243-1.8 11.717 11.717 0 0 1 6.7-5.332.509.509 0 0 1 .055-.02 35.65 35.65 0 0 1 1.819 6.476 8.476 8.476 0 0 1-3.331.676Zm4.772-1.462A37.232 37.232 0 0 0 13.113 11a12.513 12.513 0 0 1 5.321.364 8.56 8.56 0 0 1-3.66 5.73h-.002Z" clip-rule="evenodd"/>
                </svg>
                  <span class="sr-only">Dribbble account</span>
              </a>
          </div>


 <Link
                href="/"
                class="flex items-center px-4 py-2 bg-white-800 text-black font-semibold rounded-s shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-200 active:bg-gray-200 my-1"
            >
                <span class="ml-1"> <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                        <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                    </svg> TikTok Video</span>
            </Link>
            <Link
                href="/tiktok-sound-downloader"
                class="flex items-center px-8 py-2 bg-white bg-opacity-70 text-black font-semibold rounded-s shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100 hover:bg-opacity-80 active:bg-gray-200 my-1"
            >
                <span class="ml-1">MP3</span>
            </Link>
            <Link
                href="/tiktok-slideshow-downloader"
                class="flex items-center px-8 py-2 bg-white bg-opacity-70 text-black font-semibold rounded-s shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100 hover:bg-opacity-80 active:bg-gray-200 my-1"
            >
                <span class="ml-1">Photo</span>
            </Link>
            <Link
                href="/tiktok-story-downloader"
                class="flex items-center px-8 py-2 bg-white bg-opacity-70 text-black font-semibold rounded-s shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100 hover:bg-opacity-80 active:bg-gray-200 my-1"
            >
                <span class="ml-1">Story</span>
            </Link>
           
        </div>



        <div class="relative max-w-xl mx-auto mt-8">
            <form class="block items-center sm:space-x-4 sm:flex sub-form">
                <div class="relative flex-1">
                    <input
                        type="text"
                        placeholder="Paste your link here..."
                        class="w-full pr-12 pl-4 py-3 outline-none rounded-lg bg-gray-900 text-white placeholder-gray-500 transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent down-url"
                        style="box-shadow: 0 0 2px rgb(255, 255, 255) !important;"
                    />
                </div>
                <button
                    class="px-6 py-3 bg-gradient-to-r from-indigo-500 to-indigo-600 text-white font-semibold rounded-lg shadow-lg transition-all duration-300 hover:from-indigo-600 hover:to-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 outline-none
                    mt-2 sm:mt-0 w-full sm:w-auto send-btn cursor-pointer"
                    type="submit"
                >
                    Download
                </button>
            </form>
        </div>




    </div>
</div>

<div class="loader items-center justify-center hidden">
    <img src="/src/icons/loader.webp" alt="" />
</div>

<div class="bg-gradient-to-br py-16 px-4 sm:px-6 lg:px-8 main-div hidden">
    <div class="max-w-7xl mx-auto">
        <h2></h2>
        <h2 class="text-2xl font-extrabold text-center mb-4 shadow-text msg break-all"></h2>
        <div class="flex flex-wrap justify-center gap-8">
            <div class="gap-8 down-div grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1"></div>
        </div>
    </div>
</div>

<style>
    .shadow-text {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .flex {
        align-items: flex-start;
    }
</style>

<script type="module">
    import h from '/src/assets/js/s.js';

    let submitForm;
    let mainDiv;
    let downDiv;
    let message;
    let loader;
    let e, s, r;
    const baseURL = 'https://download.stiktokio.com';
    const errorClass = 'text-red-600';
    const simpleClass = 'text-white';
    const imageClass = 'w-full h-full object-cover rounded-lg mb-6';
    const h3Class = 'text-2xl font-semibold text-white text-center mb-4';
    const anchorClass =
        'block w-full bg-gradient-to-r from-pink-500 to-red-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-all duration-300 hover:from-pink-600 hover:to-red-600 hover:shadow-lg';

    function init() {
        // DOM elements ko dobara select karna
        submitForm = document.querySelector('.sub-form');
        mainDiv = document.querySelector('.main-div');
        downDiv = document.querySelector('.down-div');
        message = document.querySelector('.msg');
        loader = document.querySelector('.loader');

        // Submit event listener lagana
        submitForm.addEventListener('submit', dt);

        // Initial data fetch karna
        SendFirstRequestToServer();
    }

    function addPosition(data) {
        e = data.layout;
        s = data.cards;
        r = data.cards_position;
    }

    function showLoader() {
        if (loader.classList.contains('hidden')) {
            loader.classList.remove('hidden');
            loader.classList.add('flex');
        } else {
            loader.classList.add('flex');
        }
    }

    function hideLoader() {
        if (loader.classList.contains('flex')) {
            loader.classList.remove('flex');
            loader.classList.add('hidden');
        } else {
            loader.classList.add('hidden');
        }
    }

    function SendFirstRequestToServer() {
        fetch(`${baseURL}/position`, {
            method: 'get',
        })
            .then((response) => response.json())
            .then((res) => {
                addPosition(res);
            })
            .catch((err) => {
                showError(err);
            });
    }

    function showError(errorMsg) {
        if (mainDiv.classList.contains('hidden')) {
            mainDiv.classList.add('flex');
            mainDiv.classList.remove('hidden');
        }
        if (message.classList.contains(simpleClass)) {
            message.classList.remove(simpleClass);
            message.classList.add(errorClass);
        } else {
            message.classList.add(errorClass);
        }
        message.textContent = errorMsg;
    }

    function dc() {
        if (e && s && r) {
            const dc = h(e, r, s);
            if (dc) {
                return dc;
            } else {
                showError('Please reload page and try again later.');
                return false;
            }
        } else {
            showError('Please wait a few seconds.');
            return false;
        }
    }

    function showDataOnPage(data) {
        if (data.thumbnail) {
            showVideoDataOnPage(data);
        } else {
            showImageDataOnPage(data);
        }
    }

    function scrollToElement(className) {
        var element = document.querySelector(`.${className}`);
        if (element) {
            element.scrollIntoView({ behavior: 'smooth', block: 'end' });
        } else {
            console.log('Element not found');
        }
    }

    function deleteAllDownloadDivs() {
        let ddDivs = document.querySelectorAll('.ddDiv');

        if (ddDivs.length >= 1) {
            ddDivs = Array.from(ddDivs);
            for (const element of ddDivs) {
                element.remove();
            }
        }

        if (!mainDiv.classList.contains('hidden')) {
            mainDiv.classList.add('hidden');
            mainDiv.classList.remove('flex');
        }
        message.textContent = '';
    }

    function showImageDataOnPage(data) {
        mainDiv.classList.remove('hidden');
        message.classList.add(simpleClass);

        data.formats.forEach((format) => {
            if (format.type === 'image') {
                const dnDiv = document.createElement('div');
                dnDiv.className = 'bg-gray-800 rounded-xl shadow-2xl overflow-hidden transform transition-all duration-300 w-full ddDiv';

                const dnButtonDiv = document.createElement('div');
                const dnButton = document.createElement('a');
                dnButton.className =
                    'block w-full bg-gradient-to-r from-pink-500 to-purple-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-colors duration-300 hover:opacity-90 my-3';

                const img = document.createElement('img');
                img.className = 'h-auto object-cover rounded-lg mb-6 w-full max-h-[400px]';
                img.alt = data.title;
                img.src = format.imgURL;

                dnButton.innerText = 'Download Photo';
                dnButton.href = `${baseURL}${format.link}`;
                dnButton.target = '_blank';

                dnDiv.appendChild(img);
                dnButtonDiv.append(dnButton);
                dnDiv.append(dnButtonDiv);
                downDiv.appendChild(dnDiv);
            } else if (format.type == 'audio') {
                const dnDiv = document.createElement('div');
                dnDiv.className = `bg-gray-800 rounded-xl shadow-2xl overflow-hidden transform transition-all duration-300 w-full ddDiv block order-2 lg:col-span-${data.formats.length - 1} md:col-span-2 col-span-1`;

                const dnButton = document.createElement('a');
                dnButton.className =
                    'block w-full bg-gradient-to-r from-pink-500 to-purple-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-colors duration-300 hover:opacity-90 my-3';

                dnButton.innerText = 'Download MP3';
                dnButton.href = `${baseURL}${format.link}`;
                dnButton.target = '_blank';

                dnDiv.append(dnButton);
                downDiv.appendChild(dnDiv);

                const anotherButton = document.createElement('button');
                anotherButton.className =
                    'block w-full bg-gradient-to-r from-pink-500 to-purple-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-colors duration-300 hover:opacity-90 my-3';
                anotherButton.textContent = 'Download Another';
                anotherButton.addEventListener('click', () => {
                    document.querySelector('.another').scrollIntoView({ behavior: 'smooth' });
                });

                dnDiv.appendChild(anotherButton);
            }
        });
    }

    function showVideoDataOnPage(data) {
        const dnDiv = document.createElement('div');
        const dnButtonDiv = document.createElement('div');
        const thumbnail = document.createElement('img');
        dnDiv.className = 'bg-gray-800 rounded-xl shadow-2xl overflow-hidden transform transition-all duration-300 w-full w-96 md:w-[650px] md:flex p-4 ddDiv gap-5 col-span-2';
        thumbnail.className = 'block mb-6 md:mb-0 rounded-lg md:w-[50%] md:h-[345px]';

        if (mainDiv.classList.contains('hidden')) {
            mainDiv.classList.remove('hidden');
            mainDiv.classList.add('flex');
        } else {
            mainDiv.classList.add('flex');
        }
        if (!message.classList.contains(simpleClass)) {
            message.classList.add(simpleClass);
        }
        message.textContent = data.title;
        thumbnail.alt = data.title;
        thumbnail.src = data.thumbnail;

        downDiv.appendChild(dnDiv);
        dnDiv.appendChild(thumbnail);
        dnDiv.appendChild(dnButtonDiv);

        for (let format of data.formats) {
            const dnButton = document.createElement('a');
            dnButton.className = 'block w-full bg-gradient-to-r from-pink-500 to-purple-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-colors duration-300 hover:opacity-90 my-3';

            if (!format.hd && !format.watermark && format.type === 'video') {
                dnButton.innerText = 'Download without watermark';
                dnButton.href = `${baseURL}${format.link}`;
                dnButtonDiv.append(dnButton);
                dnButton.target = '_blank';
            } else if (format.hd && !format.watermark && format.type === 'video') {
                dnButton.innerText = 'Download without watermark (HD)';
                dnButton.href = `${baseURL}${format.link}`;
                dnButtonDiv.append(dnButton);
                dnButton.target = '_blank';
            } else if (format.hd && format.watermark && format.type === 'video') {
                dnButton.innerText = 'Download watermark';
                dnButton.href = `${baseURL}${format.link}`;
                dnButtonDiv.append(dnButton);
                dnButton.target = '_blank';
            } else if (!format.hd && !format.watermark && format.type === 'audio') {
                dnButton.innerText = 'Download MP3';
                dnButton.href = `${baseURL}${format.link}`;
                dnButtonDiv.append(dnButton);
                dnButton.target = '_blank';
            }
        }
        const anotherButton = document.createElement('button');
        anotherButton.className =
            'block w-full bg-gradient-to-r from-pink-500 to-purple-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-colors duration-300 hover:opacity-90 my-3';
        anotherButton.textContent = 'Download Another';
        anotherButton.addEventListener('click', () => {
            document.querySelector('.another').scrollIntoView({ behavior: 'smooth' });
        });

        dnButtonDiv.appendChild(anotherButton);

        scrollToElement('main-div');
    }

    function dt(e) {
        e.preventDefault();
        const url = document.querySelector('.down-url').value;

        const enc = dc();
        if (!enc) {
            scrollToElement('main-div');
            return;
        }

        deleteAllDownloadDivs();
        showLoader();

        fetch(`${baseURL}/download`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'x-auth-token': enc,
            },
            body: JSON.stringify({ url: url }),
        })
            .then((res) => res.json())
            .then((response) => {
                if (response.error && response.ex) {
                    window.location.reload();
                }
                if (response.error) {
                    showError(response.msg);
                }
                if (!response.error) {
                    showDataOnPage(response);
                    scrollToElement('main-div');
                }
            })
            .catch((err) => {
                showError(err);
            })
            .finally(() => {
                hideLoader();
            });
    }

    // Clean-up function
    function cleanup() {
        if (submitForm) {
            submitForm.removeEventListener('submit', dt);
        }
    }

    // Initialize on first load
    document.addEventListener('DOMContentLoaded', init);

    // Cleanup before Astro page swap
    document.addEventListener(
        'astro:before-swap',
        () => {
            cleanup();
        },
        { once: true }
    );

    // Re-initialize after swapping pages
    document.addEventListener('astro:after-swap', init);
</script>
