---
import { ViewTransitions } from 'astro:transitions';
import { pwaInfo } from 'virtual:pwa-info';
import Footer from '@components/footer.astro';
import Navbar from '@components/navbar/navbar.astro';
import '@fontsource-variable/inter';
import { HeadHrefLangs } from 'astro-i18next/components';
import { SEO } from 'astro-seo';
import i18next from 'i18next';

export interface Props {
    title?: string;
    lang?: string;
    description?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const { title, description, lang = null } = Astro.props;

const makeTitle = title ? `${title}` : 'Astros - Starter Template for Astro with Tailwind CSS';
---

<!doctype html>
<html lang={lang ?? i18next.language}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="theme-color" content="#ffffff" />
          <meta name="robots" content="noindex">

        <HeadHrefLangs />

        <ViewTransitions />

        <!-- Global CSS -->
        <link rel="stylesheet" href="/index.css" />

        <SEO title={makeTitle} description={description} canonical={canonicalURL} />

        <script is:inline>
            function handleThemeChange() {
                if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                    document.documentElement.classList.add('dark');
                } else {
                    document.documentElement.classList.remove('dark');
                }
            }
            handleThemeChange();
            document.removeEventListener('astro:after-swap', handleThemeChange);
            document.addEventListener('astro:after-swap', handleThemeChange);
        </script>

        {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
        <script src="/src/pwa.ts"></script>
    </head>
    <body class="dark:bg-gray-900">
        <Navbar />
        <slot />
        <Footer />
        <style is:global>
            /* Improve Page speed */
            /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
            img {
                content-visibility: auto;
            }
        </style>
    </body>
</html>
